Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Custom

BraceWrapping:
  AfterFunction: true
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

# Always add braces to if/else/for/while/do bodies
InsertBraces: true
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false

# Local/project header first, system headers after
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^".*'
    Priority: 1
  - Regex:    '^<.*>'
    Priority: 2

# Ignore line length entirely
ColumnLimit: 0

# Constructor initializer list
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never

# Access Modifiers
AccessModifierOffset: 0
IndentAccessModifiers: true

# Alignment
AlignConsecutiveAssignments: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: AcrossEmptyLinesAndComments

SeparateDefinitionBlocks: Always
IndentExternBlock: Indent
NamespaceIndentation: All
